.ControlsTab {
  flex-basis: calc(50% - 320px);
}

.ControlsTab .ControlsBg {
  margin: 0 auto;
  padding: 30px;
  width: 60%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.ControlsTab .ControlsBg img {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ControlsTab .ControlsBg p {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-family: "VT323", monospace;
  font-size: 20px;
}

.ControlsBg button {
  display: block;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(219, 219, 219, 1);
  border: 2px solid black;
  padding: 0;
  height: 40px;
}

.ControlsBg button p {
  padding-top: 5px;
  font-family: "VT323", monospace;
  font-size: 20px;
  color: black !important;
}
