.gameScreen {
  position: relative;
  margin: 0 auto;
  width: 640px;
}

.gameUI {
  width: 640px;
  height: 80px;
  background-color: black;
}

pre {
  background-color: #555;
  color: #5f5;
  padding: 30px;
}
