header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: white;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
}

img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
